<h1>Movies<%=session[:username]%></h1>
<%@movies.each do |movie|%>
<a href="/movies/<%=movie.id%>"><%=movie.title%></a>
<a href="/movies/<%=movie.id%>"><%=movie.director%></a>
<a href="/movies/<%=movie.id%>"><%=movie.genre%></a>

<form method="post" action="/movies/<%=movie.id%>">
<input type="hidden" id="hidden" name="_method" value="delete">
<input type="submit" value="Delete">
</form>
<%end%>