<h1>Title: <%=@movies.title%></h1>
<h2>Director: <%=@movies.director%></h2>
<h3>Rating: <%=@movies.rating%></h3>
<h3>Genre: <%=@movies.genre%></h3>
<h3>Release Year: <%=@movies.release_year%></h3>
<p>Edit <a href="/movies/<%=@movies.id%>/edit"></a></p>

<form method="post" action="/users/<%=@users.id%>">
<input type="hidden" id="hidden" name="_method" value="delete">
<input type="submit" value="Delete User">
</form> 