<h1><%=@movies.title%></h1>
<h2>Director: <%=@movies.director%></h2>
<h3>Rating: <%=@movies.rating%></h3>
<h3>Genre: <%=@movies.genre%></h3>
<h3>Release Year: <%=@movies.release_year%></h3>

<a href="/movies/<%=@movie.id%>/edit">Change</a>
<form method="post" action="/movies/<%=@movies.id%>">

<input type="hidden" id="hidden" name="_method" value="delete">
<input type="submit" value="Delete Movie">
</form> 